/*BootStrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*Fonts */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
/* SETTING HEIGHT */
html,
body {
  height: 100%;
  font-family: "Prompt", sans-serif;
}
#root {
  height: 100%;
}

.App {
  height: 100%;
}

a {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: #8899a6;
  letter-spacing: px;
}
a:hover {
  color: #ffffff;
}

/* HEADER */

.Header {
  display: flex;
  align-items: center;
  background-color: #192734;
  color: #ffffff;
}
.Header p {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}
.bi {
  font-size: x-large;
  color: rgb(221, 190, 14);
}

/* MAIN PAGE */
.Main {
  height: 100%;
}
.tool-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #192734;
}

.feature-container1,
.feature-container2,
.feature-container3,
.feature-container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid #22303c;
  color: #ffffff;
}

/* ICEBREAKERS */

.Icebreakers {
  background-color: #192734;
  min-height: 100%;
}
#icebreakerTitle {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8899a6;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 1px;
}

.IcebreakerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.IcebreakerForm label {
  color: #ffffff;
  font-size: large;
  margin: 5px 0;
}

.IcebreakerList h1 {
  color: #ffffff;
  margin-bottom: 5px;
}

.Breaker {
  text-align: center;
  margin: 7px 0;
  border: 3px solid #22303c;
  color: #ffffff;
}

.Breaker h3 {
  color: #8899a6;
}

/* FORM SELECT */
select {
  border: #ffffff;
  border-radius: 5px;
  font-size: medium;
  font-family: "Prompt";
  font-weight: 600;
}

/* SMALL BUTTONS */

.smallButton {
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.smallButton:hover {
  transition: 0.3s;
  background-color: rgb(221, 190, 14);
}

#scrollTop {
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 50%;
  border-radius: 5px;
  border: none;
}
