/*BootStrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*Fonts */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Prompt:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
/* SETTING HEIGHT */
html,
body {
  height: 100%;
  font-family: "Prompt", sans-serif;
}
#root {
  height: 100%;
}

.App {
  height: 100%;
  background-color: #192734;
}

a {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: #8899a6;
  letter-spacing: 1px;
}
a:hover {
  color: rgb(221, 190, 14);
  text-shadow: 1px 1px 2px white, 0 0 25px rgb(221, 190, 14),
    0 0 5px rgb(221, 190, 14);
}

a:active {
  font-size: 150%;
}

/* HEADER */

.Header {
  display: flex;
  align-items: center;
  background-color: #192734;
  color: #ffffff;
  margin-bottom: 10px;
}
.Header p {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}
.bi-bolt {
  color: rgb(221, 190, 14);
}
.bi {
  font-size: x-large;
  color: #8899a6;
}
.bi:hover {
  color: rgb(221, 190, 14);
}
.heart {
  font-size: x-large;
}

.heart-yellow {
  font-size: x-large;
  color: rgb(221, 190, 14);
}

/* MAIN PAGE */
.Main {
  height: 100%;
}
.tool-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #192734;
}

.feature-container1,
.feature-container2,
.feature-container3,
.feature-container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px solid #22303c;
  color: #ffffff;
}

/* ICEBREAKERS */

.Icebreakers {
  background-color: #192734;
  min-height: 100%;
}
#icebreakerTitle {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8899a6;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 1px;
}

.IcebreakerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.IcebreakerForm label {
  color: #ffffff;
  font-size: large;
  margin: 5px 0;
}

.IcebreakerList h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.Breaker {
  text-align: center;
  margin: 7px 0;
  border: 3px solid #22303c;
  color: #ffffff;
}

.Breaker p {
  padding: 0 50px;
}

.Breaker h3 {
  color: #8899a6;
}

/* FORM SELECT */
select {
  border: #ffffff;
  border-radius: 5px;
  font-size: medium;
  font-family: "Prompt";
  font-weight: 600;
}

/* SMALL BUTTONS */

.smallButton {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.nextButton {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 30%;
  border-radius: 5px;
  border: none;
}

.nextButton:hover,
.smallButton:hover,
.know-it:hover {
  transition: 0.3s;
  background-color: rgb(221, 190, 14);
}

/* .feature-container1:hover { 
  transition: width 2s, height 2s, transform 2s; 
  width: 300px; 
  height: 300px; 
  transform: rotate(90deg); 
} */

#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 10%;
  border-radius: 5px;
  border: none;
}

.favorite-btn {
  background-color: transparent;
  border: none;
}

.delete-btn {
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}

.modal-btn {
  background-color: #22303c;
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.modal-div {
  text-align: center;
}

/* TRIVIA */

.Trivia {
  height: 100%;
  background-color: #192734;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.triviaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8899a6;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.TriviaForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats h3 {
  color: rgb(221, 190, 14);
  margin: 0;
  font-size: 30px;
}

.TriviaList {
  text-align: center;
}

.singleTrivia {
  color: #ffffff;
}

.singleTrivia h1 {
  color: #8899a6;
}

.singleTrivia h3 {
  color: rgb(221, 190, 14);
}

.answerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #192734;
}

.answerForm label {
  color: rgb(221, 190, 14);
  font-size: x-large;
  font-weight: 700;
  letter-spacing: 1px;
}

.answerForm input {
  border-radius: 5px;
  border: none;
  padding: 3px;
  width: 50%;
}

.next-question {
  display: flex;
  justify-content: center;
  background-color: #192734;
}

.know-it {
  font-weight: bold;
  font-size: medium;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 35%;
  border-radius: 5px;
  border: none;
}

/* Favorites */

.favoritesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #192734;
}
.Favorites h2 {
  color: #8899a6;
}

.favIcebreaker-Container {
  height: 100%;
  width: 97%;
}

.IcebreakerFavorites {
  text-align: center;
  margin: 7px 0;
  border: 3px solid #22303c;
  color: #ffffff;
  min-width: 75%;
  width: 100%;
}

.JokeFavorites {
  text-align: center;
  margin: 7px 0;
  border: 3px solid #22303c;
}
.TriviaFavorites {
  text-align: center;
  margin: 7px 0;
  border: 3px solid #22303c;
  color: #ffffff;
  width: 97%;
}

.TriviaFavorites-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fav-btn {
  background-color: rgb(221, 190, 14);
  font-weight: bold;
  font-size: 25px;
  font-family: "Prompt";
  margin: 3px 0 5px 0;
  width: 140px;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
}

.singleJokeFavorite h3 {
  color: #ffffff;
}

/* JOKES */

.Jokes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #192734;
  text-align: center;
}
.JokesList {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-title {
  color: #8899a6;
}

.SingleJoke {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.SingleJoke h2 {
  color: #ffffff;
}

.SingleJoke h3 {
  color: rgb(221, 190, 14);
}

.Footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #192734;
}
.Footer a {
  font-size: x-small;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(221, 190, 14);
  text-decoration-style: solid;
}

.back {
  position: absolute;
  right: 20px;
  top: 20px;
}

.fav {
  color: rgb(221, 190, 14);
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.click {
  font-size: 20px;
  border-radius: 10px;
  width: 25%;
  font-weight: bold;
}

.click:hover {
  background-color: rgb(221, 190, 14);
  transition: 0.3s;
}

#category {
  width: 200px;
}

/* .IcebreakerList { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 50%; 
} */

/* Tablet */
@media screen and (min-width: 768px) {
  /* Main Page */
  body {
    height: 100%;
  }

  .Main {
    /* height: 100%; */
    background-color: #192734;
  }

  p {
    padding: 0;
    margin: 0;
    /* background-color: red; */
  }

  .Header {
    height: 10%;
    justify-content: center;
    /* margin-bottom: 15px; */
  }

  .Header p {
    font-size: 50px;
  }

  .warning {
    font-size: 5px;
    color: rgb(221, 190, 14);
  }

  .tool-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature-container1,
  .feature-container2,
  .feature-container3,
  .feature-container4 {
    height: 40%;
    border: rgb(221, 190, 14) solid 5px;
    border-radius: 15px;
    width: 40%;
  }
  .feature-container1 p,
  .feature-container2 p,
  .feature-container3 p,
  .feature-container4 p {
    font-weight: bold;
    font-size: x-large;
  }
  .feature-container1 a,
  .feature-container2 a,
  .feature-container3 a,
  .feature-container4 a {
    font-size: 50px;
  }
  .feature-container4 {
    background-color: #192734;
  }
  .Footer a {
    font-size: medium;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  /* Main Page */
  body {
    height: 100%;
  }

  .Main {
    /* height: 100%; */
    background-color: rgb(221, 190, 14);
  }

  p {
    padding: 0;
    margin: 0;
    /* background-color: red; */
  }

  .Header {
    height: 10%;
    justify-content: center;
    margin-bottom: 15px;
  }

  .Header p {
    font-size: 60px;
  }

  .warning p {
    color: rgb(221, 190, 14);
  }

  .tool-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature-container1,
  .feature-container2,
  .feature-container3,
  .feature-container4 {
    height: 40%;
    border: rgb(221, 190, 14) solid 5px;
    border-radius: 15px;
    width: 35%;
  }
  .feature-container1 p,
  .feature-container2 p,
  .feature-container3 p,
  .feature-container4 p {
    font-weight: bold;
    font-size: x-large;
  }
  .feature-container1 a,
  .feature-container2 a,
  .feature-container3 a,
  .feature-container4 a {
    font-size: 50px;
  }

  .next-question {
    align-items: center;
    height: 75px;
  }

  /* Trivia Page-------------------------------------------------------------------------------------------------------------- */

  .stats {
    /* display: flex; 
    flex-direction: column; */
  }

  .triviaTitle {
    font-size: 40px;
    display: flex;
    flex-direction: column;
  }

  #answer {
    height: 25px;
  }

  .nextButton {
    font-size: 20px;
    width: 120px;
  }

  .know-it {
    margin-top: 10px;
    font-size: 20px;
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .Footer a {
    font-size: x-large;
  }

  /* Favorites Page ------------------------------------------------------------------------------------------------------------- */
  .fav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .IcebreakerList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .Breaker {
    width: 25%;
  }

  .IcebreakerList p {
    font-size: 25px;
  }

  .IcebreakerList h3 {
    position: absolute;
    top: 90px;
    left: 90px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: rgb(221, 190, 14);
    display: block;
  }
}
