:root {
  --primary-color: #ddbea9;
  --secondary-color: #ffe8d6;
  --header-color: #6b705c;
  --button-color: #a5a58d;
  --text-color: #b7b7a4;
}
html {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-color);
}

a:link {
  text-decoration: none;
}

/* MAIN PAGE */
.Main {
  height: 100%;
}
.tool-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.feature-container {
  text-align: center;
  background-color: var(--secondary-color);
}

.tool-container h2 {
  color: var(--header-color);
}
